@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
         url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
         url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans-CondensedBold.woff2") format("woff2"),
        url("../fonts/OpenSans-CondensedBold.woff") format("woff");
    font-weight: bold;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Open Sans";
}

.wrapper{
    width: 100%;
}

.nav{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo{
    display: flex;
}

.header-logo-text{
    font-size: 25px;
    font-weight: 500;
    margin-left: 16px;
    margin: 7px 0 0 16px;
}

.header-logo-text:hover{
    color: #DE2E54;
}

.header-logo-text:active{
    opacity: 0.5;
}

.nav_ul{
    display: flex;
    list-style: none;
    font-family: "Open Sans";
}

.nav_ul li{
    margin-right: 32px;
    font-weight: 700;
    font-size: 14px;
    transition: 0.2s linear;
}

.nav_ul li:hover{
    color: #DE2E54;
    transition: 0.2s linear;
}

.nav_ul li:active{
    opacity: 0.5;
}

.nav_btn{
    padding: 12px 24px;
    background-color:#DE2E54;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    transition: 0.2s linear;
}

.nav_btn:hover{
    background-color: transparent;
    border: 2px solid #DE2E54;
    color: #DE2E54;
    transition: 0.2s linear;
}

.nav_btn:active{
    background-color:#DE2E54;
    color: #fff;
    opacity: 0.5;
}

.banner_container{
    width: 100%;
    background-color:#0EB4C1;
}

.banner{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.banner_text{
    color: #fff;
}

.text_h {
    width: 500px;
    font-family: "Open Sans Condensed";
}

.text_h h2{
    font-size: 30px;
}

.text_p{
    width: 415px;
    padding-bottom: 36px;
}

.text_p p{
    font-size: 18px;
}

.service_container{
    width: 864px;
    margin: 0 auto;
    padding-top: 120px;
}

.service_title{
    text-align: center;
    padding-bottom: 56px;
    font-family: "Open Sans Condensed";
}

.service_ul li{
    width: 864px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.service_ul li h2{
    font-family: "Open Sans Condensed";
}

.service_li_end{
    padding-bottom: 0px;
}

.service_ul li img{
    width: 200px;
    height: 200px;
}

.service_text{
    padding-left: 64px;
}

.service_text_p{
    font-size: 16px;
    width: 600px;
}

.service_btn{
    display: inline-block;
    margin-left: 350px;
    margin-bottom: 100px;
    padding: 12px 24px;
    background-color:#DE2E54;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    transition: 0.2s linear;
}

.register_container{
    width: 100%;
    background-color: #0EB4C1;
    text-align: center;
}

.register_title{
    padding-top: 64px;
    color: #fff;
    font-family: "Open Sans Condensed";
}

.register_ul{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 64px;
    margin: 0;
}

.register_ul li{
    width: 194px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 15px;
    list-style: none;
}

.register_ul li:hover{
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
}

.register_ul li:active{
    opacity: 0.5;
}

.register_ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.footer_container{
    width: 100%;
    background-color: #000;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #fff;
}

.footer{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-logo{
    display: flex;
}

.footer-logo-text{
    font-size: 25px;
    font-weight: 500;
    margin-left: 16px;
    margin: 7px 0 0 16px;
}

.footer-logo-text:hover{
    color: #DE2E54;
}

.footer-logo-text:active{
    opacity: 0.5;
}


